.header-content {
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.text-header {
  /*   font-weight: bold;
 */
  margin-bottom: 10px;
  text-align: center;
  margin-top: 0;
}

.header-content p {
  margin: 0;
  text-align: center;
}

.description-category {
  font-size: 12px;
  color: #999;
  margin: 5px 0 0 0;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  min-height: 200px;
}
.ion-icon-play {
  color: var(--ion-color-primary);
}
