.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  flex: 0 0 auto;
}

.icon-container ion-icon {
  font-size: 200px;
  color: var(--ion-color-primary);
}
