.category-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shortcategory-description {
  padding: 25px;
  font-size: 16px;
  text-align: center;
}

.category-info {
  margin: 30px 0;
}

.info-item {
  padding: 10px 0;
}

.info-item strong {
  margin-right: 8px;
}

.title-header {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 4px 0;
  padding: 0 10px;
}
